{
  "presets": [
    ["@babel/preset-env",{
      "useBuiltIns": "usage",
      "corejs": "3.4.0"
    }],
    ["@babel/preset-react", {
      "runtime": "automatic"
    }]
  ],
  "sourceType": "unambiguous"
}
